.primary-btn{
    font-size: inherit;
    font-family: inherit;
    height: max-content;
}

.small-btn{

    width: max-content;
    /* padding : 4px 32px; */
}

.large-btn{
    width: clamp(6rem 10rem 12rem);
    /* padding: 12px 32px; */
}